<%- include('partials/head'); -%>
<%- include('partials/header_na'); -%>
    <main class="main">
        <section class="capabilities">
            <div class="title">
                <div></div>
                <h2>Возможности <br> Email-Рассылки</h2>
            </div>
            <div class="info">
                <div class="capabilities-list">
                    <div class="capabilities-list-item">
                        <h4>Email-рассылка</h4>
                        <span>Email подходит для каждого: интернет-магазинам, сфере услуг, турагенствам.</span>
                    </div>
                    <div class="capabilities-list-item">
                        <h4>Автоматизация</h4>
                        <span>Настройте автоматические письма для самостоятельного отправления писем.  </span>
                    </div>
                    <div class="capabilities-list-item">
                        <h4>Темы для писем</h4>
                            <ul>                               
                                <li>Приветственное письмо</li>
                                <li>Праздничное письмо</li>
                                <li>Письмо с приглашением на событие</li>
                                <li>Сезонное письмо</li>
                                <li>Письмо к особой дате.</li>
                            </ul>
                    </div>
                    <div class="capabilities-list-item">
                        <h4>Конструктор писем</h4>
                        <span>Создавайте красивые письма без знания HTML и CSS.</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/footer'); -%>