<%- include('partials/head'); -%>
<%- include('partials/header_na'); -%>
    <main class="main">
       <section class="homepage">
            <div class="row">
                <h2>Создайте свою первую <br> email-рассылку на <br> QuerySender</h2>
            </div>
            <div class="big-cricle"></div>
            <div class="min-cricle">
                <div>
                    <span>Создать рассылку</span>
                    <a href="/login"><button>+</button></a>
                </div>
            </div>
            <div class="row">
                <div></div>
                <div class="why-we">
                    <h2>Почему QuerySender</h2>
                    <ul class="why-we-list">
                        <li class="why-we-list-item">
                            <h4>Язык интерфейса</h4>
                            <span>Нам очень важны наши клиенты
                            </span>
                        </li>
                        <li class="why-we-list-item">
                            <h4>Дизайн  и адаптация </h4>
                            <span>Стильный и удобный дизайн для ПК.</span>
                        </li>
                        <li class="why-we-list-item">
                            <h4>Автоматизация email-рассылок</h4>
                            <span>Создавайте автоматические письма и не тратьте свое время. </span>
                        </li>
                    </ul>
                </div>
            </div>
       </section>
    </main>
    <%- include('partials/footer'); -%>